<!DOCTYPE html>
<html>
<head>
  <title>I18nDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">I18n Demo</a>
    <ul class="nav">
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "contact", contact_path %></li>
      <li><%= link_to_unless_current "English", locale: "en" %> </li>
      <li><%= link_to_unless_current "Chinese", locale: "cn" %></li>
    </ul>
  </div>
</div>
<%= yield %>
</body>
</html>
